@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./LexendDeca-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
